<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951619711563-rsvro3tu39015updm56ppjq6p62b5t7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951619711563-rsvro3tu39015updm56ppjq6p62b5t7s</string>
	<key>API_KEY</key>
	<string>AIzaSyD0d3eIMPE7q44Ev4fNoP05uq2jo8LtNhw</string>
	<key>GCM_SENDER_ID</key>
	<string>951619711563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tambakUdangV2</string>
	<key>PROJECT_ID</key>
	<string>tambakudangv2</string>
	<key>STORAGE_BUCKET</key>
	<string>tambakudangv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951619711563:ios:49084488c9e445056e53ce</string>
</dict>
</plist>